//colors
$bg_color: #E5E5E5
$font_color: #78808f
$font: 100% Helvetica, sans-serif
$table_color: #fff
$table_hover_color:#F8F8F8
$font-size: 1em
    
html
    background-color: $bg_color
    color: $font_color
    font:$font
    display: inline
    min-width: inherit

main
    display: inline

.app
    align-self: left
    margin: 0px auto

    table
        border-collapse: collapse 
        min-width: 100px
        max-width: 200px
        display: inline
        margin-right: 0.3%

        tr
            text-align: left
            border-bottom: solid $bg_color 0.1em
            transition: .1s linear
            background-color: $table_color
            padding-left: 1em
            padding-right: 1em
            padding-top: 0.5em
            padding-down: 0.5em
            
            &:hover
                position: relative
                background-color: $table_hover_color
                transition: .1s linear
                font-size: 110%

            td
                
                img
                    display: none
                    margin-right: 0px
                    margin-top: 0px 
                    transition: .2s 
                    align-self: right
                    
            &:hover
                padding-right: 0em
                img                   
                    display: inline
                    



.actions
    &.visible
        display: inline
    background-color: $table_color
    padding: 5px          
    display: none
    ul
        padding: 0px
        margin:5px
        li
            list-style-type: none

.container
    max-width:1200px
    padding: 15px



